@import "tailwindcss";

@theme {
  --font-pacifico: "Pacifico", cursive;
  --font-nunito: "Nunito", sans-serif;

  --color-accent-light: #f4d6b0;
  --color-accent-mid: #f1caa1;
  --color-text-dark: #141414;
}
